/* FONTS */

body {
    font-family: 'Roboto', sans-serif;
background: #6d6e71;
    text-align: left;
}


/* Grid View */
.grid li.mix {
    
}

/* List View */
.list li.mix {
    width: 100%;
}

.list li.mix p {
    display: none;
}


/* YOUR STYLES */

.course-num {
    font-size: .7em;
}

.cd-header h1 {
    font-size: 1.5em;
}

h1 {
    font-size: 1.5em;
    padding-bottom: .2em;
}

h3 {
    font-size: 1em;
    padding-bottom: .2em;
}

p {
    font-size: .9em;
}

.cd-filter-block h4 {
    color: black;
}

.no-touch .cd-filter-block h4:hover
{
    color: #a10022;
}

.cd-header {
    background: #a10022;
}

/* CONTENT CONTAINERS */
.cd-gallery li {
    background: white;
    padding: 1em;
}


.cd-filter::before {
    background-color: black;
}


.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: none; 
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  background: #a10022;
    

    


    

